.acordeon {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 1rem 0;
    border: 1px solid #fff;
    border-radius: 1rem;
}

.acordeon.open,
.acordeon:hover {
    background: #55569E;
    border-color: #55569E;
}

.acordeon .trigger {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem 0;
    font-size: 1.5rem;
    font-weight: 700;
    background-color: transparent;
    color: #fff;
    border: none;
}

.acordeon .trigger h2 {
    margin: 0;
    font-size: 1.5rem;
    text-align: start;
}

.acordeon .trigger:hover {
    cursor: pointer;
}

.acordeon .trigger::after {
    content: '';
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    background-image: url('/assets/img/icons/arrow.svg');
    background-repeat: no-repeat;
    background-size: contain;
    transition: transform 0.3s ease;
}

.acordeon.open .trigger {
    font-size: 1.5rem;
}

.acordeon.open .trigger::after {
    transform: rotate(180deg);
}

.acordeon .content {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: max-height 0.25s ease, opacity 0.25s ease;
    padding: 0 1rem 1rem 1rem;
}

.acordeon.open .content {
    max-height: 500px;
    opacity: 1;
    padding: 0 1rem 1rem 1rem;
}