.experience {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 1rem;
    list-style: none;

    max-height: 300px;
    overflow-y: auto;

    scrollbar-width: none;
    -ms-overflow-style: none;
}

.experience li {
    margin-bottom: 1rem;
}

.experience li .title {
    margin: 0.5rem;
}

.experience li p {
    margin: 0.5rem;
}

.experience li .period {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.experience li .period::before {
    content: '';
    display: inline-block;
    width: 1rem;
    height: 1rem;
    background-image: url('assets/img/icons/calender.svg');
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: 0.5rem;
}