* {
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}


body {
    /* min-height: 100vh; */
    color: #fff;
    background-color: #000;
    border-radius: 1rem;
}

.main {
    margin: 1rem;
    padding: 1rem;
    border: 1px solid #fff;
    border-radius: 1rem;
    
}

a {
    display: inline-block;
    width: fit-content;
    color: #fff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.main::before {
  content: '';
  background-image: url('assets/img/bk-1.svg');
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  position: fixed;
  top: 0;
  left: 0;
  width: 140vw;
  height: 100vh;
  z-index: -1;
}

.main::after {
  content: '';
  background-image: url('assets/img/bk-1.svg');
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  position: fixed;
  bottom: 0;
  right: 0;
  width: 140vw;
  height: 100vh;
  z-index: -1;
  transform: rotate(180deg);
}


@font-face {
    font-family: 'Neue Machina';
    src: url(assets/font/NeueMachina-Regular.otf);
}

@media (min-width: 768px) {
  .main {
    max-width: 1024px;
    margin: 1rem auto;
  }
}

@media (min-width: 600px) {
  .main::before {
    height: 80vw;
  }

  .main::after {
    height: 80vw;
  }
}

@media (min-width: 1200px) {
  .main::before {
    height: 50vw;
  }

  .main::after {
    height: 50vw;
  }
}
