.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}


.header::after {
    content: '';
    display: inline-block;
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 2rem;
    height: 2rem;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('../img/header.svg');
}

.header .photo {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.header .title {
    text-align: center;
    font-family: 'Neue Machina', sans-serif;
}

.information {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.information p {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0.5rem;
    font-size: 1.125rem;
}

.information p::before {
    content: '';
    display: inline-block;
    width: 1rem;
    height: 1rem;
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: .5rem;
}

.information .job::before {
    background-image: url(../img/icons/job.svg);
}

.information .location::before {
    background-image: url(../img/icons/lacation.svg);
}

.information .phone::before {
    background-image: url(../img/icons/phone.svg);
}

.information .email::before {
    background-image: url(../img/icons/email.svg);
}

@media (min-width: 768px) {
    .header {
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .header .photo {
        margin-right: 80px;
    }

    .header .title {
        text-align: start;
        width: 340px;
    }

    .header dev:nth-child(1) {
        flex-direction: column;
        align-items: center;
    }
}