.languages {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;

    margin: 0;
    padding: 0;
    list-style: none;
}

.languages li {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1rem;
    font-size: 1.25rem;
    
}

.languages li::before {
    content: '';
    display: inline-block;
    width: 1rem;
    height: 1rem;
    background-image: url('assets/img/icons/check.svg');
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: 0.5rem;
}